.App {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

input[type="date"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 0.1rem solid #d1d1d1;
  border-radius: .4rem;
  box-shadow: none;
  box-sizing: inherit;
  height: 3.8rem;
  padding: .6rem 1.0rem;
  width: 100%;
}

.logout-button {
  padding: 0;
}

.header {
  border-bottom: 1px solid #9b4dca;
  margin-bottom: 20px;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.cursor-pointer {
  cursor: pointer
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.purple {
  color: #9b4dca;
}
